html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    /*margin: 0 auto -60px;*/
    margin: 0 auto;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.hasDatepicker {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.movie {
    background-color: #222 !important;
}

.movie a {
    color: white !important;
    text-decoration: none;
}

.movie a:hover {
    background-color: transparent;
    color: orange !important;
}

.panel-heading h3 {
    margin-bottom: 15px;
    margin-top: 15px;
    text-shadow: none;
}

.panel-heading a {
    color: white;
    text-decoration: none;
}

.panel-heading a:hover {
    background-color: transparent;
    color: green;
}

.features {
    margin-top: 15px;
    margin-bottom: 15px;
}

.feature {
    margin-top: 10px;
    margin-botton: 10px;
}

.panel {
    box-shadow: 0px 0px 10px grey;
}

.panel:hover {
    box-shadow: 0px 0px 30px orange;
}

.no-padding {
    padding: 0;
}

#chat-section {
    float: left;
}

#general-chat {
    height: 450px;
    overflow-y: scroll;
    padding: 10px;
}

#messages {
    list-style-type: none;
}

#messages li {
    padding: 10px;
}

#messages li:nth-child(even) {
    background-color: #EEEEEE;
}

#users-list {
    list-style-type: none;
}

#users-list li {
    padding: 5px;
}

#users-list li:nth-child(even) {
    background-color: #EEEEEE;
}

.modal-body img {
    cursor: default;
}

.profile-cover {
    width: 100%;
    height: auto;
    position: absolute;
    margin-top: -15%;
    cursor: pointer;
}

.profile-avatar {
    /*width: 168px;*/
    width: auto;
    max-width: 300px;
    /*min-width: 168px;*/
    height: 168px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: block;
    border: solid 5px !important;
    border-color: white !important;
    border-radius: 25%;
    background-color: white;
    cursor: pointer;
}

.profile-avatar:hover {
    box-shadow: 0 0 30px darkorange;
    border-color: orange !important;
}

.profile-heading {
    overflow: hidden;
    height: 359px;
    margin-bottom: 40px;
    background-color: black;
}

.profile-button {
    border: none;
    color: black;
    position: absolute;
    background-color: white;
    width: 150px !important;
    bottom: 20px;
    right: 20px;
}

.profile-button:hover {
    background-color: orange !important;
    color: white !important;
    box-shadow: 0 0 30px darkorange;
}

.profile-name {
    color: white;
    font-size: large;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
    text-align: center;
    text-shadow: 0 0 10px black;
}

body {
    font-family: FontAwesome;
}

#profiles-address {
    resize: vertical;
    min-height: 70px;
    max-height: 200px;
}

#profiles-description {
    resize: vertical;
    min-height: 70px;
    max-height: 200px;
}

.action-photo {
    width: 100%;
    height: auto;
    position: relative;
    cursor: pointer;
}

.action-avatar {
    width: auto;
    height: 40px;
    position: relative;
}

.action-link {
    color: darkblue !important;
    text-decoration: none;
    font-weight: bold;
}

.action-header {
    padding: 10px 30px;
    background-color: white;
    line-height: 32px;
}

.navbar-logo {
    height: 80%;
    width: auto;
    transform: translate(15px, 12%);
}

.navbar-brand {
    max-width: 260px;
    padding: 0;
}

.navbar-nav > li > a {
    height: 51px;
}

.navbar-nav > li > a:hover {
    background-color: orange !important;
    color: white;
    box-shadow: 0 0 30px darkorange;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: orange !important;
    color: white;
    box-shadow: 0 0 30px darkorange;
}

.navbar-fixed-top {
    border: none;
}

.navbar-avatar {
    height: 21px;
    width: auto;
    border-radius: 25%;
}

.ui-link {
    text-shadow: none;
}

.action-popup {
    padding: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 95%;
    overflow: hidden;
}

.action-popup .action-photo {
    /*max-height: 610px;*/
    /*width: 100%;*/
    max-height: 585px;
    width: auto;

    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, 0%);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle {
    background-color: #333;
}

.ui-checkbox input {
    display: none;
}

.ui-checkbox label {
    padding-left: 35px;
    font-family: FontAwesome;
}

.site-login, .site-signup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.site-login-body {
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(0%, -50%);
}

.site-login-body {
    z-index: 10;
}

.login-footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.site-login-body h3 {
    margin: 0;
}

.panel-orange {
    border: none;
}

.panel-orange .panel-heading {
    background-color: #222;
    /*background-color: orange;*/
    color: white;
}

.btn-orange {
    font-family: FontAwesome;
    background-color: #222;
    /*background-color: orange;*/
    /*border-color: darkorange;*/
    border: none;
    color: white;
}

.btn-orange:hover {
    background-color: darkorange !important;
    color: white;
}

.btn-orange:focus {
    color: white !important;
}

.btn-orange:focus {
    /*background-color: darkorange;*/
    color: white;
}

.has-error .help-block {
    display: none;
    color: red;
}

.has-error input {
    box-shadow: 0 0 10px red !important;
}

.site-login-body input {
    padding-left: 40px;
}

.site-login-body input:hover {
    box-shadow: 0 0 30px orange;
}

.site-login-body input:focus {
    box-shadow: 0 0 30px orange !important;
}

.login-icon {
    position: absolute;
    margin: 10px 0px;
    color: grey;
    width: 40px;
    text-align: center;
}

.ui-btn, label.ui-btn {
    border: none;
}

.ui-select .ui-btn:hover {
    background-color: #39c;
}

.ui-btn-active {
    text-shadow: none !important;
}

.btn {
    font-family: FontAwesome;
}

.btn:hover, .btn:focus {
    text-shadow: none !important;
}

.action-popup .panel-body {
    height: 655px;
    overflow-y: auto;
}

.action-description {
    padding-bottom: 15px;
}

.action-buttons {
    margin-top: 15px;
}

.ui-popup-screen {
    background-color: black;
}

#loading img {
    height: 200px;
}

.action-photo {
    /*max-height: 600px;*/
    /*max-width: ;*/
    /*width: auto;*/
    /*display: table;*/
    /*margin: 0 auto;*/
}

.action-user-heading .profile-heading {
    height: 130px;
}

.action-user-heading .profile-heading .profile-cover {
    display: block;
}

.action-user-heading .profile-avatar {
    display: block;
    position: relative;
    width: 30%;
    height: auto;
    border-color: orange !important;
    margin-left: auto;
    margin-right: auto;
    left: 0;
}

.action-user-heading .col-xs-6 {
    margin-bottom: 10px;
}

.caret {
    display: none;
}

.ui-pnotify-icon {
    font-size: 18px;
}

.badge-notify {
    background: red;
    position: absolute;
    margin: -6px;
    border-radius: 3px;
    font-size: 10px;
}

.navbar-nav .dropdown-menu li a {
    border-bottom: solid 1px #e5e5e5;
    padding: 10px 20px;
}

.navbar-nav .dropdown-menu li:last-child a {
    border-bottom: none;
}

.flag-ro {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NTAgMzAwIj4NCjxwYXRoIGZpbGw9IiMwMDJiN2YiIGQ9Im0wLDBoMTUwdjMwMGgtMTUweiIvPg0KPHBhdGggZmlsbD0iI2ZjZDExNiIgZD0ibTE1MCwwaDE1MHYzMDBoLTE1MHoiLz4NCjxwYXRoIGZpbGw9IiNjZTExMjYiIGQ9Im0zMDAsMGgxNTB2MzAwaC0xNTB6Ii8+DQo8L3N2Zz4NCg==');
    width: 30%;
    height: 18px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
    display: inline-block;
    margin-bottom: -4px;
    margin-right: 10px;
}

.flag-en {
    background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNjAgMzAiIGhlaWdodD0iNjAwIj4NCjxkZWZzPg0KPGNsaXBQYXRoIGlkPSJ0Ij4NCjxwYXRoIGQ9Im0zMCwxNWgzMHYxNXp2MTVoLTMwemgtMzB2LTE1enYtMTVoMzB6Ii8+DQo8L2NsaXBQYXRoPg0KPC9kZWZzPg0KPHBhdGggZmlsbD0iIzAwMjQ3ZCIgZD0ibTAsMHYzMGg2MHYtMzB6Ii8+DQo8cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iNiIgZD0ibTAsMGw2MCwzMG0wLTMwbC02MCwzMCIvPg0KPHBhdGggc3Ryb2tlPSIjY2YxNDJiIiBzdHJva2Utd2lkdGg9IjQiIGQ9Im0wLDBsNjAsMzBtMC0zMGwtNjAsMzAiIGNsaXAtcGF0aD0idXJsKCN0KSIvPg0KPHBhdGggc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEwIiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjxwYXRoIHN0cm9rZT0iI2NmMTQyYiIgc3Ryb2tlLXdpZHRoPSI2IiBkPSJtMzAsMHYzMG0tMzAtMTVoNjAiLz4NCjwvc3ZnPg0K');
    width: 30%;
    height: 18px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left top;
    display: inline-block;
    margin-bottom: -4px;
    margin-right: 10px;
}

@media (max-width: 992px) {
    #profile-sidebar.container {
        position: static !important;
    }
}

.comment-buttons {
    cursor: default;
}

.comment-buttons i {
    cursor: pointer;
    margin-left: 10px;
}

.comments-reply {
    margin-left: 8.33333333%;
    width: 91.66666667%;
}

.field-comments-action_id, .field-comments-reply_id{
    display: none;
}

/* PNotify custom */
.ui-pnotify.custom .ui-pnotify-container {
    background-color: #404040 !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.ui-pnotify.custom .ui-pnotify-title, .ui-pnotify.custom .ui-pnotify-text {
    font-family: Arial, Helvetica, sans-serif !important;
    /*text-shadow: 2px 2px 3px black !important;*/
    font-size: 10pt !important;
    color: #FFF !important;
    padding-left: 50px !important;
    line-height: 1 !important;
    text-rendering: geometricPrecision !important;
}

.ui-pnotify.custom .ui-pnotify-title {
    font-weight: bold;
    text-align: center;
}

.ui-pnotify.custom .ui-pnotify-icon {
    float: left;
    font-size: 14px;
}

.ui-pnotify.custom .ui-pnotify-icon .fa {
    margin: 7px;
    width: 33px;
    height: 33px;
    font-size: 33px;
    color: #FF0;
}

/* PNotify custom-action-user */
.ui-pnotify.custom-action-user .ui-pnotify-container {
    background-color: #404040 !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 0;
}

.ui-pnotify.custom-action-user .ui-pnotify-title, .ui-pnotify.custom-action-user .ui-pnotify-text {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 10pt !important;
    color: #FFF !important;
    /*padding-left: 50px !important;*/
    line-height: 1 !important;
    text-rendering: geometricPrecision !important;
}

.ui-pnotify.custom-action-user .ui-pnotify-icon {
    float: left;
}

/* PNotify custom-login */
.ui-pnotify.custom-login .ui-pnotify-container {
    background-color: #404040 !important;
    background-image: none !important;
    border: none !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: white;
}

.ui-pnotify.custom-login .help-block {
    text-align: center;
    font-weight: bold;
    color: white;
}



